.class {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
  overflow-y: scroll;
  > main {
    position: relative;
    display: flex;
    width: 100%;
    > header {
      position: fixed;
      top: 10vh;
      left: 0;
      width: 100vw;
      text-align: center;
      pointer-events: none;
      align-content: center;
      font-size: 100vmin;
      padding: 20px;
      background: -webkit-linear-gradient(#444, #222);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    > main {
      position: relative;
      display: flex;
      height: 100%;
      width: 100%;
      > div[data-phase] {
        display: flex;
        height: 100%;
        width: 100%;
        > header {
          position: fixed;
          top: 120px;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          pointer-events: none;
          font-size: 36px;
          color: #444;
        }
        > main {
          position: relative;
          display: flex;
          height: 100%;
          width: 100%;
          > div[data-keyframe] {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            > header {
              position: fixed;
              top: 150px;
              width: 100%;
              text-align: center;
              font-size: 24px;
              color: #777;
              flex-shrink: 0;
            }
            > main {
              display: flex;
              width: 100%;
              overflow-y: scroll;
              justify-content: center;
            }
            &[data-keyframe="show_candidates"],
            &[data-keyframe="draw_quota_line"] {
              height: 100%;
              justify-content: center;
              display: flex;
              > main > ol {
                z-index: 1;
                padding: 210px 0 60px;
                list-style-type: none;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                max-width: calc(100% - 20px);
                min-width: 50vw;
                gap: 5px;
                > li[data-candidate-total] {
                  > header {
                    font-size: 16px;
                    color: #777;
                    > span:first-child {
                      font-weight: bold;
                    }
                  }
                  > main {
                    gap: 10px;
                    display: flex;
                    > data {
                      display: flex;
                      flex-flow: row wrap;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  > nav {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 20px;
    button {
      background: none;
      border: 1px solid white;
      color: white;
      padding: 10px;
    }
  }
  > aside {
    height: 100svh;
    overflow: hidden;
    pointer-events: none;
    opacity: 0.001;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    align-content: center;
  }
}
