.logout {
  .logout-icons {
    gap: 20px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  button {
    padding: 10px;
    border-radius: 10px;
    background-color: #1a73e8;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    img {
      width: 35px;
      height: 35px;
      padding-right: 10px;
    }
  }
}
