@font-face {
  font-family: Brahmin;
  font-weight: 400;
  src: url(/Brahmin-4r.otf) format("opentype");
}
@font-face {
  font-family: Brahmin;
  font-weight: 500;
  src: url(/Brahmin-5r.otf) format("opentype");
}
@font-face {
  font-family: Brahmin;
  font-weight: 600;
  src: url(/Brahmin-6r.otf) format("opentype");
}
@font-face {
  font-family: Brahmin;
  font-weight: 700;
  src: url(/Brahmin-7r.otf) format("opentype");
}
