.UserBar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-shrink: 0;
  top: 0;
  left: 0;
  overflow-x: scroll;
  background-color: #ffffffcc;
  border-radius: 0px;
  max-width: 100%;
  justify-self: center;

  backdrop-filter: blur(10px);
  z-index: 10;

  .user {
    display: flex;
    align-items: center;
    gap: 20px;

    h2 {
      max-width: 40%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-wrap: ellipsis;
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    button {
      padding: 10px;
      border-radius: 10px;
      background-color: transparent;
      color: rgb(101, 6, 255);
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }

  .icons {
    gap: 20px;
    display: flex;

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    button {
      padding: 10px;
      border-radius: 10px;
      background-color: #1a73e8;
      color: white;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }
}
